In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('penguins_size.csv')
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [91]:
df.isnull().sum()
df = df[df['sex'] != '.']
df.sex.value_counts()

MALE      168
FEMALE    165
Name: sex, dtype: int64

In [92]:
df.dropna(subset=['sex'], inplace=True)
df.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [100]:
from sklearn.preprocessing import MinMaxScaler
normalize = df.drop(columns=['species', 'island', 'sex'])
mms = MinMaxScaler()
normalize = mms.fit_transform(normalize)
mms.
normalize = pd.DataFrame(normalize)
normalize.columns = mms.get_features_names_out()
normalize

AttributeError: 'MinMaxScaler' object has no attribute 'get_features_names_out'

In [93]:
from sklearn.preprocessing import LabelBinarizer
df['sex'] = LabelBinarizer().fit_transform(df['sex'])
df

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,0
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,1
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,0
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,0
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,1
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,0
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,1